venv/
__pycache__/
.pytest_cache/

app/managers/
!managers/example/
!managers/_endpoint_handler/
!managers/__init__.py

routers/

!routers/endpoint_handler.py
!routers/example.py

backend/app/ext_routers.py
