venv/
__pycache__/
.pytest_cache/


!backend/app/managers/example/
!backend/app/managers/_endpoint_handler/
!backend/app/managers/__init__.py

backend/app/routers/

!backend/app/routers/endpoint_handler.py
!backend/app/routers/example.py

backend/app/ext_routers.py
backend/app/ext_db.py