venv/
__pycache__/
.pytest_cache/
!app/managers/example
!app/managers/_endpoint_handler/*
!app/managers/__init__.py

!app/routers/endpoint_handler.py
!app/routers/example.py

backend/app/ext_routers.py
